@page
@model Project2_Images.Pages.Utilities.SignUpModel
@{
    ViewData["Title"] = "Sign Up";
}
<form action="action_page.php" method="post">

    <div class="align-content-center">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
    </div>
    <div class="align-content-center">
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
    </div>

    <div class="align-content-center">
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
    </div>

    <div class="text-center" style="align-items:center">
        <input type="submit" value="Sign Up" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}