@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="text-center">
        <a class="btn-group text-dark" asp-area="" asp-page="/Users/Details">View user account</a>
    </div>
    <div class="text-center">
        <a class="btn-group text-dark" asp-area="" asp-page="/Users/Edit">Edit user account</a>
    </div>
    <div class="text-center">
        <a class="btn-group text-dark" asp-area="" asp-page="/Images/Index">Collection</a>

    </div>
</div>
