@page
@model Project2_Images.Pages.Images.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Image</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Image.OwnerID" class="control-label"></label>
                <input asp-for="Image.OwnerID" class="form-control" />
                <span asp-validation-for="Image.OwnerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image.FileName" class="control-label"></label>
                <input asp-for="Image.FileName" class="form-control" />
                <span asp-validation-for="Image.FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image.CreationDate" class="control-label"></label>
                <input asp-for="Image.CreationDate" class="form-control" />
                <span asp-validation-for="Image.CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image.Uploader" class="control-label"></label>
                <input asp-for="Image.Uploader" class="form-control" />
                <span asp-validation-for="Image.Uploader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image.CapturedBy" class="control-label"></label>
                <input asp-for="Image.CapturedBy" class="form-control" />
                <span asp-validation-for="Image.CapturedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image.GeoTag" class="control-label"></label>
                <input asp-for="Image.GeoTag" class="form-control" />
                <span asp-validation-for="Image.GeoTag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image.Tags" class="control-label"></label>
                <input asp-for="Image.Tags" class="form-control" />
                <span asp-validation-for="Image.Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image.URL" class="control-label" for="file">Select File</label>
                <input asp-for="Image.URL" type="file" id="advertisementAsset" name="select image" class=""
                       accept="image/bmp, image/ico, image/jpeg, image/jpg, image/gif, image/tiff, image/png"
                       onchange="DisplayFilesToUpload()" />
            </div>
            
            <p>
                <img src="" id="uploaded-image" width="200"/>
            </p>
            
            <div class="form-group">
                <p id="FilesToUpload"></p>
            </div>
            <p id="FilesToUpload"></p>
            
            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-primary"  />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>
<script type="text/javascript">
    function readURL(input) {
        if (input.files && input.files[0])
        {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#uploaded-image').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    function DisplayFilesToUpload() {
        var element = document.getElementById("advertisementAsset");
        var html = "";
        html = "<h3>Image to upload:</h3>";
        document.getElementById("FilesToUpload").innerHTML = html;
        readURL(element);
    }
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
