@page
@model Project2_Images.Pages.Images.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Image</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Image.ID" />
            <div class="form-group">
                <label asp-for="Image.OwnerID" class="control-label"></label>
                <input asp-for="Image.OwnerID" class="form-control" />
                <span asp-validation-for="Image.OwnerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image.FileName" class="control-label"></label>
                <input asp-for="Image.FileName" class="form-control" />
                <span asp-validation-for="Image.FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image.CreationDate" class="control-label"></label>
                <input asp-for="Image.CreationDate" class="form-control" />
                <span asp-validation-for="Image.CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image.Uploader" class="control-label"></label>
                <input asp-for="Image.Uploader" class="form-control" />
                <span asp-validation-for="Image.Uploader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image.CapturedBy" class="control-label"></label>
                <input asp-for="Image.CapturedBy" class="form-control" />
                <span asp-validation-for="Image.CapturedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image.GeoTag" class="control-label"></label>
                <input asp-for="Image.GeoTag" class="form-control" />
                <span asp-validation-for="Image.GeoTag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image.Tags" class="control-label"></label>
                <input asp-for="Image.Tags" class="form-control" />
                <span asp-validation-for="Image.Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image.URL" class="control-label"></label>
                <input asp-for="Image.URL" class="form-control" type="file" name="select image"
                       accept="image/bmp, image/ico, image/jpeg, image/jpg, image/gif, image/tiff, image/png"
                       onchange="DisplayFilesToUpload()" />
                <span asp-validation-for="Image.URL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

<script type="text/javascript">
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#uploaded-image').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    function DisplayFilesToUpload() {
        var element = document.getElementById("file");
        var html = "";
        html = "<h3>Upload to collection</h3>";
        html += "<input type='submit' class='upload' value='Upload'/>";
        document.getElementById("FilesToUpload").innerHTML = html;
        readURL(element);
    }
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
